<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">
        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Have questions?</h3>
            </header>
            <p>Email us at <a href="mailto:hello@campuslangaugeconnection.com" hello@campuslanguageconnection.com</a></p>
            <ul class="icons">
              <li><a href="https://www.facebook.com/clcnu" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Campus Language Connection. All rights reserved.</li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>