<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#banner">About</a></li>
    <li><a href="#participate">Participate</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#footer">Contact</a></li>
  </ul>
</nav>