<body class="homepage">

  <div id="header">
    <div class="inner">
      <header>
        <h1>Campus Language Connection</h1>
        <hr />
        <p>Share your language, expand your world.</p>
      </header>
      <footer>
        <a href="https://weinberg.co1.qualtrics.com/SE/?SID=SV_3yjSToNqBAG3tQh" class="button circled scrolly">Join</a>
        <a href="https://docs.google.com/a/u.northwestern.edu/forms/d/1iJpEYFWewDpAOszxuWpRk9HdVioDooXYrWKffZ-_6jo" class="button circled scrolly">Log</a>
        <a href="https://docs.google.com/a/u.northwestern.edu/forms/d/1A_lbuHzVX9vuNs7V48xYLni-gUXERb95T3CETXvfeJs" class="button circled scrolly">Evaluate</a>
      </footer>
    </div>

    {{> nav}}
  </div>

  <section id="banner" class="wrapper style2">
    <header>
      <h2>Welcome to <strong>CLC</strong>.</h2>
 <h2>Our Mission</h2>
      <p class="10u -1u">
        We aim to improve your second language proficiency in a casual, stress-free environment, allowing you to learn about new cultures and make new friends in the process.
      </p>
    </header>
  </section>

  <div id="participate" class="wrapper style2">
    <article id="main" class="container special">
      <a class="image featured">
        <img src="img/logo.jpeg" alt="" />
      </a>
      <header>
        <h2>Participate</h2>
        <p>
          Fill out the profile with your language background and interests, and we will email you with compatible speaking partners within a week or two.  
        </p>
      </header>
      <footer>
        <a href="https://weinberg.co1.qualtrics.com/SE/?SID=SV_3yjSToNqBAG3tQh" class="button">Join</a>
      </footer>
    </article>
  </div>

  <div id="team" class="wrapper style1">
    <section id="features" class="container special">
      <header>
        <h2>Our team</h2>
        <p>We are sponsored by the Northwestern International Office and have received additional support from the Global Language Initiative and various language professors.</p>
      </header>
      <div class="row">
        <article class="4u -2u special">
          <a href="#" class="image featured"><img src="img/kate.jpg" alt="" /></a>
          <header>
            <h3><a href="#">Kate McCarter</a></h3>
          </header>
          <p>
            Hi!  My name is Kate and I am the President and Founder of CLC.  I am currently a senior Linguistics major at Northwestern University.  I love to travel and have studied abroad in Valencia, Spain, Freiburg, Germany, and Edinburgh, Scotland.  This idea came to me during my sophomore year of college and grew and expanded during my junior year abroad.  As a speaker of Spanish, German, and Arabic, I always wanted a way to practice my languages on campus, since speaking and comprehension skills are some of the hardest to master.  I hope that this organization creates a community of language enthusiasts and helps you enhance your speaking skills and cross-cultural understanding.
          </p>
        </article>
        <article class="4u special">
          <a href="#" class="image featured"><img src="img/jack.jpg" alt="" /></a>
          <header>
            <h3><a href="#">Jack McCarter</a></h3>
          </header>
          <p>
            Hi!  My name is Jack and I am Vice President of Campus Language Connection.  I am currently a sophomore SESP student at Northwestern.  I speak Spanish and have studied abroad in León, Spain.  I also plan to spend the fall quarter of my junior year in Madrid.
          </p>
        </article>
      </div>
    </section>
  </div>

  {{> footer}}
</body>