<body class="homepage">

  <div id="header">
    <div class="inner">
      <header>
        <h1>Campus Language Connection</h1>
        <hr />
        <p>Share your language, expand your world.</p>
      </header>
      <footer>
        <a href="https://campuslanguageconnection.typeform.com/to/Dbz7iW" class="button circled scrolly">Join</a>
        <a href="https://jack332.typeform.com/to/x5jY0A" class="button circled scrolly">Log</a>
        <a href="https://jack332.typeform.com/to/P3UFNN" class="button circled scrolly">Evaluate</a>
      </footer>
    </div>

    {{> nav}}
  </div>

  <section id="banner" class="wrapper style2">
    <header>
      <h2>Welcome to <strong>CLC</strong>.</h2>
      </header>

  </section>

  <div  class="wrapper style2">
    <article id="main" class="container special">
      <a class="logo_wrap image featured">
        <img  class="logo" src="img/logo.jpeg" alt="" />
      </a>
      <header>
 <h2>Our Mission</h2>
      <p class="10u -1u">
        We aim to improve your second language proficiency in a casual, stress-free environment, allowing you to learn about new cultures and make new friends in the process.
      </p>
      </header>
      <header>
      <h2>Why it Matters</h2>
      <p class="10u -1u">
        <a href="#" class="image featured"><img src="img/statsgraphic.jpg" alt="" /></a>
        <a href="#" class="image featured"><img src="img/quotes.jpg" alt="" /></a>
      </p>
       </header>
       <header>
      <h2>How it Works</h2>
      <p class="10u -1u">
        CLC matches students who speak two different languages, each learning the other’s language.  Students then meet up informally to practice speaking their foreign language with each other.  Users fill out an online profile and are matched with a partner based on language and interests.  
      </p>
        </header>
        <header>
       <h2>Testimonials</h2>
      <p class="10u -1u">
       "I got paired with an excellent language partner and we get along extremely well. We meet weekly for about an hour and a half." <br> <br>

"I can learn and strengthen a different language and know about the local culture at the same time." <br> <br> 

"I really like that my speaking partner and I were allowed to arrange our meeting locations and times ourselves, as it was more flexible this way. I also really enjoyed the aspect of being exposed to a very different culture in a relaxed, leisurely manner." <br> <br>

"CLC has helped me make new friends. By talking with my partner, I become more confident and less nervous when making friends and I get along with newly met people." <br> <br>

"It is so much better to talk to a native in person than trying online material on my own." <br> <br>

"I love the possibilities to learn outside the classroom!" <br><br>
    
       </p>
    </header>
        <header>
       <h2>Our Story</h2>
      <p class="10u -1u">
       CLC was founded in 2014 at Northwestern University with the goal of informally connecting students who speak foreign languages.  We have received support from Northwestern’s International Office, Study Abroad Office and Council on Language Instruction.  Within the first three months the program had over 300 participants speaking and learning over 35 different languages.  Founder Kate McCarter won Northwestern University’s Campus Life Award in 2015, which recognizes students who have significantly contributed to the improvement of student life.  We are specifically dedicated to serve academic institutions      
       </p>
    </header>
      <header id="participate">
        <h2>Participate</h2>
        <p>
          Fill out the profile with your language background and interests, and we will email you with compatible speaking partners within a week.  
        </p>
      </header>
      <footer>
        <a href="https://campuslanguageconnection.typeform.com/to/bdOvhu" class="button">Join</a>
      </footer>
    </article>
  </div>

  <div id="team" class="wrapper style1 team">
    <section id="features" class="container special">
      <header>
        <h2>Our team</h2>
        <p>We are supported by the Northwestern International Office, Study Abroad Office, Global Language Initiative and various language professors.</p>
      </header>
      <div class="row">
        <article class="4u -2u special">
          <a href="#" class="image featured"><img src="img/kate.jpg" alt="" /></a>
          <header>
            <h3><a href="#">Kate McCarter</a></h3>
          </header>
          <p>
            Kate is the Founder and CEO of CLC.  She is currently a senior Linguistics major at Northwestern University.  She loves to travel and has studied abroad in Valencia, Spain, Freiburg, Germany, and Edinburgh, Scotland.  This idea came to her during her sophomore year of college and grew and expanded during her junior year abroad.  As a speaker of Spanish, German, and Arabic, she always wanted a way to practice her languages on campus, since speaking and comprehension skills are some of the hardest to master.  She hopes that this organization creates a community of language enthusiasts and helps people enhance their speaking skills and cross-cultural understanding.
          </p>
        </article>
        <article class="4u special">
          <a href="#" class="image featured"><img src="img/jackphoto.jpg" alt="" /></a>
          <header>
            <h3><a href="#">Jack McCarter</a></h3>
          </header>
          <p>
            Jack is the Chief Operations Officer of Campus Language Connection.  He is currently a sophomore SESP student at Northwestern studying economics and learning and organization change.  He speaks Spanish and has studied abroad in León, Spain.  He is also planning to spend the fall quarter of his junior year in Madrid.
          </p>
        </article>
      </div>
       <div class="row">
        <article class="4u -2u special">
          <a href="#" class="image featured"><img src="img/annie.jpg" alt="" /></a>
          <header>
            <h3><a href="#">Annie McCarter</a></h3>
          </header>
          <p>
            Annie is an incoming freshman at Northwestern University.  She is the VP of Marketing and will be studying Communications and graphic design.  
          </p>
        </article>
        <article class="4u special">
          <a href="#" class="image featured"><img src="img/sibs.jpg" alt="" /></a>
        </article>
      </div>
       <div class="row">
      </div>
    </section>
  </div>

  {{> footer}}
</body>